/**********  INICIO RESET *********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**********  FIN RESET *********/
/**********  INICIO CONFIG *********/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-height: 100vh; }

.titulo-pagina {
  display: none; }

i {
  color: white; }

a {
  text-decoration: none; }

/**********  FIN CONFIG **********/
/**********  INICIO ENCABEZADO *********/
.encabezado-container {
  width: 100%;
  height: 60px;
  gap: 2em;
  margin: 20px 0 20px 0; }
  .encabezado-container .titulo-seccion {
    background-color: #260f96;
    border-radius: 20px;
    width: 120px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1rem; }
  .encabezado-container hr {
    width: 80%;
    background-color: black;
    height: 0.5rem;
    opacity: 1;
    border: none;
    border-radius: 5px;
    margin: auto 1rem; }

/**********  FIN ENCABEZADO *********/
/**********  INICIO CARDS *********/
.card {
  margin: 1rem 0 3rem 1rem;
  text-align: center;
  border: none;
  width: 15rem; }
  .card:hover {
    transform: scale(1.05, 1.05);
    transition-duration: .8s; }
  .card .card-body {
    background-color: gray;
    border-radius: 0 0 15px 15px; }
    .card .card-body .submit {
      margin: 1rem auto; }
  .card .card-title {
    color: #260f96;
    font-weight: bolder; }
  .card .card-precio {
    font-weight: bold;
    font-size: 1.5rem; }
  .card .card-cuotas {
    font-size: 0.7rem;
    font-weight: bold; }
    .card .card-cuotas span {
      color: #260f96; }

/**********  FIN CARDS *********/
/**********  INICIO BANNER *********/
.banner {
  height: 150px;
  padding-left: 15px;
  background-size: cover;
  background-position: center; }
  .banner .titulo-banner {
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 1px #260f96, -1px -1px 0 #260f96, 1px -1px 0 #260f96, -1px 1px 0 #260f96, 1px 1px 0 #260f96;
    -webkit-text-fill-color: white; }
  .banner-faqs {
    background-image: url(../images/banners/banner-faqs-desktop.jpg); }
  .banner-contacto {
    background-image: url(../images/banners/banner-contacto-desktop.jpg); }
  .banner-login {
    background-image: url(../images/banners/banner-login-desktop.jpg); }
  .banner-servicio {
    background-image: url(../images/banners/banner-servicio-desktop.jpg); }
  .banner-historia {
    background-image: url(../images/banners/banner-historia-desktop.jpg); }

/**********  FIN BANNER *********/
/**********  INICIO BUTTON *********/
.submit {
  color: white;
  padding: 0.5rem;
  display: inherit;
  border: 2px solid white;
  font-size: 1rem;
  background-color: #260f96;
  margin: 2rem auto; }
  .submit:hover {
    color: white;
    background-color: black; }

/**********  FIN BUTTON *********/
/**********  INICIO ACCORDION *********/
.accordion {
  margin: 2rem auto; }
  .accordion .accordion-button:not(.colapsed) {
    background-color: #292926;
    color: white;
    box-shadow: none; }
    .accordion .accordion-button:not(.colapsed)::after {
      filter: brightness(0%) invert(90%); }
  .accordion .accordion-body {
    background-color: #260f96;
    color: white;
    text-align: justify; }

/**********  FIN ACCORDION *********/
/**********  INICIO HEADER *********/
.header--black {
  background-color: black;
  padding: 0.5rem; }
  .header--black .logo {
    width: 120px;
    margin-left: 1rem; }
  .header--black .login-carrito {
    margin-right: 1rem;
    font-size: 1rem; }
    .header--black .login-carrito span {
      font-size: 1rem; }
    .header--black .login-carrito i {
      font-size: 1.5rem;
      margin-left: 1rem; }

.nav-purple-container {
  background-color: #260f96;
  padding: 0.4rem; }
  .nav-purple-container .navbar-toggler {
    border-color: white; }
    .nav-purple-container .navbar-toggler:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 0.15rem white; }
    .nav-purple-container .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .nav-purple-container .nav-link {
    font-weight: bold; }

/**********  FIN HEADER *********/
/**********  INICIO FOOTER *********/
.newsletter-redes {
  background-color: #292926;
  padding: .5rem; }
  .newsletter-redes span {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-left: 0.2rem; }
  .newsletter-redes .newsletter-submit {
    background-color: #260f96;
    color: white; }
  .newsletter-redes i {
    font-size: 2rem;
    margin: 0 0.5rem; }
    .newsletter-redes i:hover {
      transform: scale(1.2, 1.2);
      transition-duration: .8s; }
      .newsletter-redes i:hover.fa-facebook-square {
        color: #3b5998; }
      .newsletter-redes i:hover.fa-youtube {
        color: #c4302b; }
      .newsletter-redes i:hover.fa-twitter {
        color: #00acee; }
      .newsletter-redes i:hover.fa-instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }

.footer-container-black {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 2rem;
  padding: 2rem; }
  .footer-container-black .medios-de-pago {
    padding-bottom: 2rem; }
  .footer-container-black img {
    width: 40px;
    margin: 0.5rem; }
  .footer-container-black ul {
    list-style: none;
    padding: 0; }
  .footer-container-black a {
    color: blueviolet;
    text-decoration: underline; }

/**********  FIN FOOTER *********/
/**********  INICIO SECCION INFO *********/
.info-container {
  background-color: #292926;
  padding: 1rem; }

.info {
  gap: 1em; }
  .info__fa {
    padding: 1rem; }
    .info__fa i {
      font-size: 4rem; }
  .info__desc {
    text-align: center;
    color: white;
    font-size: 1rem; }
    .info__desc h2 {
      font-size: 1.5rem; }
    .info__desc p {
      margin-bottom: 0; }

/**********  FIN SECCION INFO *********/
/**********  INICIO FORMS *********/
.form-container {
  padding: 2rem;
  background-color: #292926; }
  .form-container .form-select, .form-container input:focus, .form-container textarea:focus {
    background-color: #292926;
    color: white; }
  .form-container input, .form-container textarea {
    background-color: #292926;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid white;
    color: white; }
    .form-container input:focus, .form-container textarea:focus {
      box-shadow: none; }
  .form-container label {
    color: white; }

/**********  FIN FORMS *********/
.historia-container {
  margin: 2rem auto;
  text-align: center; }
  .historia-container p {
    padding: 1rem;
    font-weight: bold; }
  .historia-container h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #260f96; }

.video-historia {
  margin: 2rem; }

.contacto-container {
  margin: 2rem auto; }
  .contacto-container .mapa {
    padding: 0; }
    .contacto-container .mapa iframe {
      height: 100%;
      width: 100%;
      min-height: 350px; }

.form-login {
  width: 50%;
  margin: 2rem auto; }
  .form-login .btn--facebook {
    background-color: #3b5998;
    width: 100%;
    color: white;
    margin-bottom: 1rem; }
    .form-login .btn--facebook i {
      font-size: 1.5rem;
      padding-right: 1rem; }
    .form-login .btn--facebook span {
      font-size: 1.5rem; }

.info-container-titulo {
  background-color: #292926;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 1rem; }

.presupuesto {
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 20px auto; }

.service-container {
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  margin: 1rem auto; }
  .service-container h3 {
    font-size: 2rem; }
  .service-container li {
    padding-top: 1.5rem;
    list-style: none; }

.consolas-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/serviciotecnico/reparacionconsola.jpg);
  background-size: cover; }

.joystick-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/serviciotecnico/reparacionjoystick.jpg);
  background-size: cover; }

/**********  INICIO MQ *********/
@media (min-width: 1024px) {
  .nav-link:hover {
    padding-bottom: 4px;
    border-bottom: 3px solid white; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .info__fa i {
    font-size: 3rem; }
  .info__desc {
    font-size: 0.7rem; }
    .info__desc h2 {
      font-size: 1rem; }
  .footer-container-black > div {
    margin: 1rem auto; }
  .banner-faqs {
    background-image: url(../images/banners/banner-faqs-tablet.jpg); }
  .banner-contacto {
    background-image: url(../images/banners/banner-contacto-tablet.jpg); }
  .banner-login {
    background-image: url(../images/banners/banner-login-tablet.jpg); }
  .banner-servicio {
    background-image: url(../images/banners/banner-servicio-tablet.jpg); }
  .banner-historia {
    background-image: url(../images/banners/banner-historia-tablet.jpg); } }

@media (max-width: 576px) {
  .info {
    flex-direction: column;
    align-items: center; }
    .info i {
      font-size: 3rem; }
  .form-login {
    width: 100%; }
  .footer-container-black div {
    margin: 1rem auto; }
  .footer-container-black img {
    width: 50px;
    margin: 1rem; }
  .newsletter {
    flex-direction: column;
    margin: 1rem auto; }
  .redes {
    margin: 1rem auto; }
  .input-group {
    padding-top: 1rem; }
  .banner {
    height: 5rem; }
    .banner-faqs {
      background-image: url(../images/banners/banner-faqs-mobile.jpg); }
    .banner-contacto {
      background-image: url(../images/banners/banner-contacto-mobile.jpg); }
    .banner-login {
      background-image: url(../images/banners/banner-login-mobile.jpg); }
    .banner-servicio {
      background-image: url(../images/banners/banner-servicio-mobile.jpg); }
    .banner-historia {
      background-image: url(../images/banners/banner-historia-mobile.jpg); }
    .banner .titulo-banner {
      font-size: 2rem; }
  .historia-container h2 {
    font-size: 1.5rem; } }

/**********  FIN MQ *********/
