@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

/********************************************** Incio Header *************************************/

/************** Incio .header--black  **************/

.header--black {
    background-color: black;
    padding: 0.5rem;
}

.logo {
    width: 120px;
    margin-left: 1rem;
}

.login-carrito {
    margin-right: 1rem;
    font-size: 1rem;    
}

.login-carrito span{
   font-size: 1rem;
}

.login-carrito  i {
    font-size: 1.5rem;
    margin-left: 1rem;
}

i {
    color: white;
}

a {
    text-decoration: none;
    color: white!important;
}

/************** Fin .header--black  **************/

/************** Inicio .nav-purple-container **************/

.nav-purple-container {
    background-color: #260f96;
    padding: 0.4rem;
}

.secciones ul li {
    padding: 0 0.3rem;
}

.secciones ul li a{
    color: white;
    font-weight: bold;
}

.navbar-toggler {
    border-color: white
  }
  
.navbar-toggler  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.15rem white;
}

/************** Fin .nav-purple-container **************/

/********************************************** Fin Header *************************************/

/********************************************** Inicio Main *************************************/

/************** Inicio Informacion Index **************/

.info-container {
    background-color: #292926;
    padding: 1rem;
}

.info {
    gap: 1em;
}

.info__desc {
    text-align: center;
    color: white;
    font-size: 1rem;
}

.info__desc h2 {
    font-size: 1.5rem;
}

.info__fa {
    padding: 1rem;
}

.info__fa i {
    font-size: 4rem;
}

/************** Fin Informacion Index **************/

/**** Inicio Encabezado Seccion ****/

.encabezado-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 20px 0 20px 0;
}

.titulo-seccion {
    background-color: #260f96;
    border-radius: 20px;
    width: 120px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.encabezado-container hr {
    width: 80%;
    background-color: black;
    height: 0.5rem;
    opacity: 1;
    border: none;
    border-radius: 5px;
    margin: auto 1rem;
}

/**** Fin Encabezado Seccion ****/

/**** Inicio Card ****/

.card {
    margin: 1rem 0 3rem 1rem;
    text-align: center;
    border: none;
    width: 15rem;
}

.card-body {
    background-color: grey;
    border-radius: 0 0 15px 15px;
}

.card-body .submit {
    margin: 1rem auto;
}

.card:hover {
    transform: scale(1.05,1.05);   
    transition-duration: .8s;     
}

.card-title {
    color: #260f96;
    font-weight: bolder;
}

.card-precio {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-cuotas {
    font-size: 0.7rem;
    font-weight: bold;
}

.card-cuotas span {
    color: #260f96;
}

/**** Fin Card ****/

/************** Fin Main Container **************/

/********************************************** Fin Main *************************************/

/********************************************** Inicio Footer *************************************/

/* Inicio Newsletter + Redes*/

.newsletter-redes {
    background-color: #292926;
    padding: .5rem;
}

.newsletter span {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-left: 0.2rem;
}

.newsletter-submit {
    background-color: #260f96;
    color: white;
}


.redes i {
    font-size: 2rem;
    margin: 0 0.5rem;
}

.redes i:hover {
    transform: scale(1.20,1.20); 
    transition-duration: .8s;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-youtube:hover { 
    color: #c4302b;
}

.fa-twitter:hover {
    color: #00acee;
}


.fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Fin Newsletter + Redes*/

/* Inicio Footer Negro */

.footer-container-black {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 2rem;
    padding: 2rem;
}

.footer-container-black > div {
    padding-bottom: 2rem;
}

.medios-de-pago {
    padding-bottom: 2rem;
}

.medios-de-pago img{
    width: 40px;
    margin: .5rem;
}

.envios img {
    width: 45px;
    margin: 1rem;
}

.contacto ul{
    list-style: none;
    padding: 0;
}

/* Fin Footer Negro */

/********************************************** Fin Footer *************************************/

/************************************** INICIO FAQS **************************************/

.banner {
    height: 150px;
    padding-left: 15px;
    background-size: cover;
    background-position: center;
}

.banner-faqs {
    background-image: url(https://image.shutterstock.com/image-illustration/blue-question-mark-on-background-260nw-1174244842.jpg);
}

.titulo-banner {
    font-size: 3rem;
    color: white;
    text-shadow:
    0 0 1px #260f96,
    -1px -1px 0 #260f96,  
    1px -1px 0 #260f96,
    -1px 1px 0 #260f96,
    1px 1px 0 #260f96;
    -webkit-text-fill-color: #fff;
}

.accordion {
    margin: 2rem auto;
}

.accordion-body {
    background-color: #260f96;
    color: white;
    text-align: justify;
}

.accordion-button:not(.colapsed) {
    background-color: #292926;
    color: white;
    box-shadow: none;
}

.accordion-button:not(.colapsed)::after {
    filter: brightness(0%) invert(90%);
}


/************************************** FIN FAQS **************************************/

/************************************** INCIO HISTORIA **************************************/

.banner-historia {
    background-image: url(https://partiudisneyparks.com/wp-content/uploads/2020/02/Game-Stop.jpg)
}

.historia-container {
    margin: 2rem auto;
    text-align: center;
}

.historia-container p {
    padding: 1rem;
    font-weight: bold;
}

.historia-container h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #260f96;
}

.video-historia {
    margin: 2rem;
}

/************************************** FIN HISTORIA **************************************/

/************************************** INICIO CONTACTO **************************************/


.banner-contacto {
    background-image: url(https://images.bluefin-mobile.com/1534326753/desktop/pages-top/47hero-contact.jpg);
}

.contacto-container {
    margin: 2rem auto;
}

.form-container {
    padding: 2rem;
    background-color: #363636;
}


.form-floating > input {
    background-color: #363636;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid white;
}

.form-floating > textarea {
    background-color: #363636;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid white;
}

.form-floating > input:focus {
    background-color: #363636;
    box-shadow: none;
    color: white;
}

.form-floating > textarea:focus {
    background-color: #363636;
    box-shadow: none;
    color: white;
}

.form-control {
    color: white;
}

.form-floating > label {
    color: white;
}

.mapa iframe {
    height: 100%;
    width: 100%;
    min-height: 350px;
}

.mapa {
    padding: 0; 
}

.submit {
    color: white;
    padding: 0.5rem;
    display: inherit;
    border: 2px solid white;
    font-size: 1rem;
    background-color: #260f96;
    margin: 2rem auto;
}

/************************************** FIN CONTACTO **************************************/

/************************************** INICIO LOGIN **************************************/

.banner-login {
    background-image: url(https://auditbots.com/gallery/04.33AMpassb-ghcc5fbb96088384e.jpg);
}

.form-login {
    width: 50%;
    margin: 2rem auto;
}

.btn--facebook {
    background-color: #1977f2;
    width: 100%;
    color: white;
    margin-bottom: 1rem;
}

.btn--facebook i{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.btn--facebook span {
    font-size: 1.5rem;
}

.btn:hover {
    color: white;
    background-color: black;
}

/************************************** FIN LOGIN **************************************/

/************************************** INICIO SERV. TECNICO **************************************/

.banner-servicio {
    background-image: url(https://diagnostika.com.ar/wp-content/uploads/2020/12/st.jpg);
}

.info-container-titulo {
    background-color: #292926;
    text-align: center;
    color: white;   
    margin: 0;
    padding-top: 1rem;
}

.presupuesto {
    background-color: black;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

.presupuesto a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.consolas-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/serviciotecnico/reparacionconsola.jpg);
    background-size: cover;
}

.joystick-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/serviciotecnico/reparacionjoystick.jpg);
    background-size: cover;
}

.service-container {
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 1rem;
    margin: 1rem auto;  
}

.service-container h3 {
    font-size: 2rem;
}

.service-container ul li {
    padding-top: 1.5rem;
    list-style: none;
}

.form-select{
    background-color: #363636;
    color: white;
}

/************************************** FIN SERV. TECNICO **************************************/


/************************************** INICIO Media queries **************************************/

@media (min-width:1024px) {
    .secciones ul li a:hover {
        padding-bottom: 4px;
        border-bottom: 3px solid white;   
    }
    
}

@media (min-width:768px) and (max-width:1024px) {

    .info__fa i {
        font-size: 2.5rem;
    }

    .info__desc {
        font-size: 0.7rem;
    }

    .info__desc h2{
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {

    .info {
        flex-direction: column;
        align-items: center;
    }

    .form-login{
        width: 100%;
    }
    
    .newsletter {
        flex-direction: column;
        margin: 1rem auto;
    }

    .redes {
        margin: 1rem auto;
    }

    .input-group {
        padding-top: 1rem;
    }

    .banner {
        height: 5rem;
    }

    .banner h1 {
        font-size: 1.5rem;
    }
}

/************************************** Fin Media queries **************************************/