/**********  INICIO BANNER *********/

.banner {
    height: 150px;
    padding-left: 15px;
    background-size: cover;
    background-position: center;

    .titulo-banner {
        font-size: 3rem;
        color: white;
        text-shadow:
        0 0 1px $color-primario,
        -1px -1px 0 $color-primario,  
        1px -1px 0 $color-primario,
        -1px 1px 0 $color-primario,
        1px 1px 0 $color-primario;
        -webkit-text-fill-color: $color-blanco;
    }

    &-faqs {
        background-image: url(../images/banners/banner-faqs-desktop.jpg);
    }
    
    &-contacto {
        background-image: url(../images/banners/banner-contacto-desktop.jpg);
    }

    &-login {
        background-image: url(../images/banners/banner-login-desktop.jpg);
    }

    &-servicio {
        background-image: url(../images/banners/banner-servicio-desktop.jpg);
    }
        

    &-historia {
        background-image: url(../images/banners/banner-historia-desktop.jpg);
    }
}

/**********  FIN BANNER *********/




