/**********  INICIO BUTTON *********/


.submit {
    color: map-get($button, color);
    padding: map-get($button, espacio);
    display: map-get($button, display);
    border: map-get($button, borde);
    font-size: map-get($button, tFuente);
    background-color: map-get($button, fondo);
    margin: map-get($button, margen);

    &:hover {
        color: $color-blanco;
        background-color: $color-negro;
    }
}

/**********  FIN BUTTON *********/