/**********  INICIO MQ *********/

@media (min-width: 1024px) {
    .nav-link:hover {
        padding-bottom: 4px;
        border-bottom: 3px solid $color-blanco;   
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .info__fa i {
        font-size: 3rem;
    }

    .info__desc {
        font-size: 0.7rem;

        h2 {
            font-size: 1rem;
        }
    }

    .footer-container-black > div {
        margin: 1rem auto;
    }

    .banner {
        &-faqs {
            background-image: url(../images/banners/banner-faqs-tablet.jpg);
        }
        
        &-contacto {
            background-image: url(../images/banners/banner-contacto-tablet.jpg);
        }
    
        &-login {
            background-image: url(../images/banners/banner-login-tablet.jpg);
        }
    
        &-servicio {
            background-image: url(../images/banners/banner-servicio-tablet.jpg);
        }
            
        &-historia {
            background-image: url(../images/banners/banner-historia-tablet.jpg);
        }    
    }
    
}


@media (max-width: 576px) {

    .info {
        flex-direction: column;
        align-items: center;

        i {
            font-size: 3rem;
        }
    }

    .form-login{
        width: 100%;
    }
    
    .footer-container-black {
        div {
        margin: 1rem auto;
        }

        img {
            width: 50px;
            margin: 1rem;
        }
    }

    .newsletter {
        flex-direction: column;
        margin: 1rem auto;
    }

    .redes {
        margin: 1rem auto;
    }

    .input-group {
        padding-top: 1rem;
    }

    .banner {
        height: 5rem;

        &-faqs {
            background-image: url(../images/banners/banner-faqs-mobile.jpg);
        }
        
        &-contacto {
            background-image: url(../images/banners/banner-contacto-mobile.jpg);
        }
    
        &-login {
            background-image: url(../images/banners/banner-login-mobile.jpg);
        }
    
        &-servicio {
            background-image: url(../images/banners/banner-servicio-mobile.jpg);
        }
            
        &-historia {
            background-image: url(../images/banners/banner-historia-mobile.jpg);
        }

        .titulo-banner {
            font-size: 2rem;
        }
    }

    .historia-container {
        h2 {
            font-size: 1.5rem;
        }
    }
}

/**********  FIN MQ *********/