/**********  INICIO CONFIG *********/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

.titulo-pagina {
    display: none;
}

i {
    color: white;
}

a {
    text-decoration: none;
}

/**********  FIN CONFIG **********/