/**********  INICIO FOOTER *********/

.newsletter-redes {
    background-color: $color-secundario;
    padding: .5rem;

    span {
        color: $color-blanco;
        font-weight: bold;
        text-align: center;
        padding-left: 0.2rem;
    }
    
    .newsletter-submit {
        background-color: $color-primario;
        color:  $color-blanco;
    }
    
    i {
        font-size: 2rem;
        margin: 0 0.5rem;
        
        &:hover {
            transform: scale(1.20,1.20); 
            transition-duration: .8s;

            &.fa-facebook-square {
                color: $color-fb;
            }
            
            &.fa-youtube { 
                color: $color-yt;
            }
            
            &.fa-twitter {
                color: $color-tw;
            }
            
            &.fa-instagram {
                background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }    
    }    
}

.footer-container-black {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 2rem;
    padding: 2rem;

    .medios-de-pago {
        padding-bottom: 2rem;
    }    
  
    img {
        width: 40px;
        margin: 0.5rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        color: blueviolet;
        text-decoration: underline;
    }
}

/**********  FIN FOOTER *********/
