/**********  INICIO FOOTER *********/

.newsletter-redes {
    background-color: $color-secundario;
    padding: .5rem;

    span {
        color: $color-blanco;
        font-weight: bold;
        text-align: center;
        padding-left: 0.2rem;
    }
    
    .newsletter-submit {
        background-color: $color-primario;
        color:  $color-blanco;
    }
    
    i {
        font-size: 2rem;
        margin: 0 0.5rem;
        
        &:hover {
            transform: scale(1.20,1.20); 
            transition-duration: .8s;

            &.fa-facebook-square {
                @include redes (facebook);
            }
            
            &.fa-youtube { 
                @include redes (youtube);
            }
            
            &.fa-twitter {
                @include redes (twitter);
            }
            
            &.fa-instagram {
                @include redes (instagram);
            }
        }    
    }    
}

.footer-container-black {
    background-color: $color-negro;
    color: $color-blanco;
    text-align: center;
    line-height: 2rem;
    padding: 2rem;

    .medios-de-pago {
        padding-bottom: 2rem;
    }    
  
    img {
        width: 40px;
        margin: 0.5rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        color: blueviolet;
        text-decoration: underline;
    }
}

/**********  FIN FOOTER *********/
