/**********  INICIO FORMS *********/

.form-container {
    padding: 2rem;
    background-color: $color-secundario;

    .form-select{
        background-color: $color-secundario;
        color: $color-blanco;
    }
    
    input, textarea {
        background-color: $color-secundario;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $color-blanco;
        color: $color-blanco;

        &:focus {
            @extend .form-select;
            box-shadow: none;
        }
    }

    label {
        color: $color-blanco;
    }
    
}

/**********  FIN FORMS *********/
